{{ define "topbar" }}
<div class="d-flex align-items-center flex-shrink-0">
    <!--begin::Search-->
    
    <!--end::Search-->
    {{ if .breadcrumb.button }}
    <div class="d-flex align-items-center ms-3 ms-lg-4">
        <!--begin::Drawer wrapper-->
        <a href="{{ .breadcrumb.button.url }}" class="btn btn-primary">{{ .breadcrumb.button.name }}</a>
        <!--end::Drawer wrapper-->
    </div>
    {{ else if .breadcrumb.modal }}
    <div class="d-flex align-items-center ms-3 ms-lg-4">
        <!--begin::Drawer wrapper-->
        <a href="#" data-bs-toggle="{{ .breadcrumb.modal.toggle }}" data-bs-target="{{ .breadcrumb.modal.target }}" class="btn btn-primary">{{ .breadcrumb.modal.name }}</a>
        <!--end::Drawer wrapper-->
    </div>
    {{ end }}
    
    <!--begin::Theme mode-->
    <div class="d-flex align-items-center ms-3 ms-lg-4">
        <!--begin::Menu toggle-->

        <a href="#" class="btn btn-icon btn-color-gray-700 btn-active-color-primary btn-outline w-40px h-40px" data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
            <!--begin::Svg Icon | path: icons/duotune/general/gen060.svg-->
            <span class="svg-icon theme-light-show svg-icon-1">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="/controlpanel/assets/svg/light-show.svg#all-paths"></use>
                </svg>
            </span>
            <!--end::Svg Icon-->
            <!--begin::Svg Icon | path: icons/duotune/general/gen061.svg-->
            <span class="svg-icon theme-dark-show svg-icon-1">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="/controlpanel/assets/svg/dark-show.svg#all-paths"></use>
                </svg>
            </span>
            <!--end::Svg Icon-->
        </a>
        <!--begin::Menu toggle-->
        <!--begin::Menu-->
        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-title-gray-700 menu-icon-muted menu-active-bg menu-state-color fw-semibold py-4 fs-base w-175px" data-kt-menu="true" data-kt-element="theme-mode-menu">
            <!--begin::Menu item-->
            <div class="menu-item px-3 my-0">
                <a href="#" class="menu-link px-3 py-2" data-kt-element="mode" data-kt-value="light">
                    <span class="menu-icon" data-kt-element="icon">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen060.svg-->
                        <span class="svg-icon svg-icon-3">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="/controlpanel/assets/svg/light-show.svg#all-paths"></use>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </span>
                    <span class="menu-title">Light</span>
                </a>
            </div>
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <div class="menu-item px-3 my-0">
                <a href="#" class="menu-link px-3 py-2" data-kt-element="mode" data-kt-value="dark">
                    <span class="menu-icon" data-kt-element="icon">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen061.svg-->
                        <span class="svg-icon svg-icon-3">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="/controlpanel/assets/svg/dark-show.svg#all-paths"></use>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </span>
                    <span class="menu-title">Dark</span>
                </a>
            </div>
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <div class="menu-item px-3 my-0">
                <a href="#" class="menu-link px-3 py-2" data-kt-element="mode" data-kt-value="system">
                    <span class="menu-icon" data-kt-element="icon">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen062.svg-->
                        <span class="svg-icon svg-icon-3">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="/controlpanel/assets/svg/system-show.svg#all-paths"></use>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </span>
                    <span class="menu-title">System</span>
                </a>
            </div>
            <!--end::Menu item-->
        </div>
        <!--end::Menu-->
    </div>
    <!--end::Theme mode-->
    <!--begin::Sidebar Toggler-->
    <!--end::Sidebar Toggler-->
</div>
{{ end }}